.headshot{
	border-radius: 50%;
	display: flex;
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
	@include media('<medium') {
		width: 70% !important;
		float:none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 32px;
	}
}

.aboutSection{
	background-color: get-color(dark, 2);
	padding:40px;
	border-radius: 20px;
}

.about-name{
	@include media('<medium') {
			text-align: center;
		}
}

.about-title{
	@include media('<medium') {
			text-align: center;
		}
}